@model Sample2.Models.Registration
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>


<style>
div.ex1 {
    margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 210px;
  margin-left: 210px
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<body>

<div class="ex1">
    <h2 style="font-size:38px; color:blue;">PKIM-Managed IT Service Solutions</h2>
        <p style="font-size:18px;">Mangaged IT Service Solutions to Help Your Business Succeed - since 1998</p>
        <p style="font-size:18px;">Contact us today for a free, no obligation consultation to see if a PKIM Custom Solutions Package is right for your business goals and budget.</p>

                <h2 style="font-size:28px;color:blue;">
                    <img src="~/Images/Help1.jpg" width="50" height="60" />
                    Help Desk
                </h2>
                    <p style="font-size:18px;">&emsp;&emsp;Sustain employee productivity with a responsive dedicated team.</p>    
                    <p style="font-size:18px;">&emsp;&emsp;"More small and medium businesses are moving to managed services to cut costs and redirect focus to core business</p>
                    <p style="font-size:18px;">&emsp;&emsp;activities." - Gartner Research</p>  
                <h2 style="font-size:28px;color:blue;">
                    <img src="~/Images/Proactive1.jpg"  width="60" height="60" />
                    Proactive Support
                </h2>     
                    <p style="font-size:18px;">&emsp;&emsp;Improve uptime, performance and security by monitoring and keeping systems current.</p>
                    <p style="font-size:18px;">&emsp;&emsp;"Computer virus and spyware attacks cost global businesses and estimated $6.5 billion in demages." - Reuters</p>
                <h2 style="font-size:28px;color:blue;">
                    <img src="~/Images/CLOUD1.jpg"   width="60" height="60" />
                    Cloud Service
                </h2>                               
                    <p style="font-size:18px;">&emsp;&emsp;Access your application and data securely anywhere at any time</p>                    
                    <p style="font-size:18px;">&emsp;&emsp;&emsp;-  Google G Suits, Microsoft Office 365, Microsoft Azure</p>
                    <p style="font-size:18px;">&emsp;&emsp;"93% of organizations that experience a significant data loss are out business within 5 years." - Gartner Research</p>
                <h2 style="font-size:28px;color:blue;">
                    <img src="~/Images/Backup1.jpg"   width="60" height="60" /> 
                    Backup and Business Continuity
                </h2> 
                    <p style="font-size:18px;">&emsp;&emsp;Feel confident that valuable company data is secure and business will continue in the event of a disaster.</p>                    
                    <p style="font-size:18px;">&emsp;&emsp;&emsp;-  Automated and on-demand backups to secured data vault</p>
                    <p style="font-size:18px;">&emsp;&emsp;&emsp;-  Continue to do business and service your clients in the event of disaster</p>                    
                <h2 style="font-size:28px;color:blue;">
                    <img src="~/Images/IT%20Management1.jpg"    width="60" height="60" />
                    IT Management
                </h2> 
                    <p style="font-size:18px;">&emsp;&emsp;Align IT with your business objectives.</p>    
                    <p style="font-size:18px;">&emsp;&emsp;&emsp;-  Chief Information Officer services</p>
                    <p style="font-size:18px;">&emsp;&emsp;&emsp;-  IT roadmaps with quarterly strategic review</p>
                    <p style="font-size:18px;">&emsp;&emsp;&emsp;-  Vendor Management</p>
                <h2 style="font-size:28px;color:blue;">
                    <img src="~/Images/Software%20Service1.jpg"   width="60" height="60" />
                    Software Service
                </h2> 
                    <p style="font-size:18px;">&emsp;&emsp;PKIM Offers best-in-class solutions to meet your needs</p>    
                    <p style="font-size:18px;">&emsp;&emsp;&emsp;-  Custom Database Programming, Website with Azure SQL Database Engine</p>
                    <p style="font-size:18px;">&emsp;&emsp;&emsp;-  IT Staffing</p>

</div>

</body>
</html>
