s@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<style>
div.ex1 {
    margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 210px;
  margin-left: 210px
}
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="ex1">

            <img src="~/Images/SEcucity.jpg"" alt="HTML tutorial" style="width:60px;height:60px;border:0;">

            <h1>Security It solution</h1>
                    <li class="two">
                        CCTV Planning, Layout, & Installation
                    </li>
                    <li class="two">
                        CCTV Repair and Maintenance
                    </li>
                    <li class="two">
                        Professional Security Camera Installation
                    </li>
                    <li class="two">
                        Networking DVR Servers
                    </li>
                    <li class="two">
                        Remote Monitoring
                    </li>
                    <li class="two">
                        Wireless & Wired Security Alarms
                    </li>
                    <li class="two">
                        Computers & Data Networks
                    </li>
        <br></br>
        </div>

                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>        
</body>
</html>
