@{
    ViewBag.Title = "About";
}

<style>
div.ex1 {
    margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 210px;
  margin-left: 210px
}
</style>

<!DOCTYPE html>

<html>


<body>

<div class="ex1">
        <br></br>
                <h1>PRODUCT</h1>
                <p style ="font-size:25px">@Html.ActionLink("SOFTWARE", "Software", "Home")</p>
                <img src="~/Images/Zebra.jpg" />
                <p style ="font-size:25px"><a href="http://www.retailitsolutions.com/">ZEBRA LABEL</a></p>

</div>

                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
   
</body>
</html>
