@{
    ViewBag.Title = "About";
}



<!DOCTYPE html>

<html>


<body>
<div class="newOuter row">
<div class="col-md-12">
<h1>POS-ITMASTER</h1>
<p>POSiT&trade; is designed to provide POS solutions to single or multi-branch retailers and wholesalers successfully manage their business processes from purchasing and planning through the distribution and final sale of goods. Utilizing one enterprise database, POSiT also gives manufacturers, who run wholesale and retail shop, manage their whole process from ordering, production, shipping and AP/AR through easily integrating to our AGMS&trade;.Affordable Pricing for Single Store Owners.</p>

<h1>WITS™ / WHOLESALE INVENTORY TRACKING</h1>
<p>WiTS is Wholesale with Inventory Tracking. This wholesale application is integrated with retail point-of-solutions developed by PKIM, POS-iTMaster. This wholesale application also can expand with AGMS, ERP Solutions developed by PKIM, that includes shipping solutions, Scan and Ship function and USPS/UPS/FedEx integration.</p>

<h1>AGMS™ / MANUFACTURING ERP SOLUTIONS</h1>
<p>AGMS™ is designed to provide centralized control to the production flow from sales order entry to shipping process in garment manufacturing systems. AGMS fully utilizes the most current Client Server technology to develop flexible, reliable and high performance garment manufacturing systems for our client's success in the competitive global market place. AGMS consists of GUI front-end frame objects for which rapid development of customized screens and modularized relational DBMS databases structures to adapt changes from external environment.</p>



</div>
</div>

   
</body>
</html>
