@{
    ViewBag.Title = "Aldelo";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="newOuter row">
<div class="col-md-12">
<h2>Aldelo</h2>


        <div class="content-wrapper">       
                <div class="w3-content w3-display-container">
                    <img class="mySlides" src="~/Images/Aldelo%20Express%20-%20iPad%20POS_PKIM.jpg" height="900" width="700"/>
                    <img class="mySlides" src="~/Images/Aldelo%20POS%20-%20PC%20POS_PKIM.jpg" height="900" width="700"/>
                    <img class="mySlides" src="~/Images/CDP2_PKIM.jpg" height="900" width="700"/>
                    <img class="mySlides" src="~/Images/Fine%20Dining_PKIM.jpg" height="900" width="700"/>
                    <img class="mySlides" src="~/Images/Max-APOS%20bundle_PKIM.jpg" height="900" width="700"/>
                    <img class="mySlides" src="~/Images/Max-Express%20bundle_PKIM.jpg" height="900" width="700"/>
                    <img class="mySlides" src="~/Images/Merchant%20Plans(Starter%20&%20Enhanced)_PKIM.jpg" height="900" width="700"/>
                    <img class="mySlides" src="~/Images/New%20Merchant%20Plans(Max-Simple-Flex)_PKIM.jpg" height="900" width="700"/>
                    <img class="mySlides" src="~/Images/QSR_PKIM.jpg" height="900" width="700"/>
                    <img class="mySlides" src="~/Images/Retail_PKIM.jpg" height="900" width="700"/>

              </div>

            <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Prev</button>
            <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Next ❯</button>

            <button class="w3-button demo" onclick="currentDiv(1)">1</button> 
            <button class="w3-button demo" onclick="currentDiv(2)">2</button> 
            <button class="w3-button demo" onclick="currentDiv(3)">3</button>
            <button class="w3-button demo" onclick="currentDiv(4)">4</button> 
            <button class="w3-button demo" onclick="currentDiv(5)">5</button>
            <button class="w3-button demo" onclick="currentDiv(6)">6</button>
            <button class="w3-button demo" onclick="currentDiv(7)">7</button> 
            <button class="w3-button demo" onclick="currentDiv(8)">8</button>
            <button class="w3-button demo" onclick="currentDiv(9)">9</button>
            <button class="w3-button demo" onclick="currentDiv(10)">10</button>      


                <script>
                    var slideIndex = 1;
                    showDivs(slideIndex);

                    function plusDivs(n) {
                        showDivs(slideIndex += n);
                    }

                    function currentDiv(n) {
                        showDivs(slideIndex = n);
                    }

                    function showDivs(n) {
                        var i;
                        var x = document.getElementsByClassName("mySlides");
                        var dots = document.getElementsByClassName("demo");
                        if (n > x.length) { slideIndex = 1 }
                        if (n < 1) { slideIndex = x.length }
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = "none";
                        }
                        for (i = 0; i < dots.length; i++) {
                            dots[i].className = dots[i].className.replace(" w3-red", "");
                        }
                        x[slideIndex - 1].style.display = "block";
                        dots[slideIndex - 1].className += " w3-red";
                    }
                </script>
        </div>
                    <img src="~/Images/Aldelo%20Express%20-%20iPad%20POS_PKIM.jpg" height="900" width="700"/>
                    <img src="~/Images/Aldelo%20POS%20-%20PC%20POS_PKIM.jpg" height="900" width="700"/>
                    <img src="~/Images/CDP2_PKIM.jpg" height="900" width="700"/>
                    <img src="~/Images/Fine%20Dining_PKIM.jpg" height="900" width="700"/>
                    <img src="~/Images/Max-APOS%20bundle_PKIM.jpg" height="900" width="700"/>
                    <img src="~/Images/Max-Express%20bundle_PKIM.jpg" height="900" width="700"/>
                    <img src="~/Images/Merchant%20Plans(Starter%20&%20Enhanced)_PKIM.jpg" height="900" width="700"/>
                    <img src="~/Images/New%20Merchant%20Plans(Max-Simple-Flex)_PKIM.jpg" height="900" width="700"/>
                    <img src="~/Images/QSR_PKIM.jpg" height="900" width="700"/>
                    <img src="~/Images/Retail_PKIM.jpg" height="900" width="700"/>
</div>
</div>