@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
div.ex1 {
    margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 210px;
  margin-left: 210px
}
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="ex1">

                    <br></br>
        <img src="~/Images/pkim.jpg" />
        <p>Thanks! We will contact you within 24-48 hours</p>
    </div>

</body>
</html>
