@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<style>
div.ex1 {
    margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 210px;
  margin-left: 210px
}
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div class="ex1">
        <br></br>
        <img src="~/Images/IT.jpg" />
        <h1>IT Support</h1>
                <li class="one">
                    Managing IT support requests assigned via incident management system include documenting resolution steps and actions taken.
                </li>
                <li class="two">
                    Face-to-face or over the telephone, to help set up systems or resolve issues.  
                </li>
                <li class="two">
                    Documenting new support procedures via company knowledge base.
                </li>
                <li class="two">
                    Troubleshoot system and network problems, diagnosing and solving hardware or software faults.
                </li>
                <li class="two">
                    Build new workstations and maintain existing workstations.
                </li>
                <li class="two">
                    Setup and administer Active Directory and Office 365 user accounts as per standard operating procedure.
                </li>
                <li class="two">
                    Assists in planning, coordinating and consulting with vendors for hardware/software purchases, product services and support.
                </li>
        <br></br>
                <h1>Google G Suite</h1>
                    <li class="two">
                        G-Suit is  cloud computing, productivity and collaboration tools such as  Gmail, Hangouts, Calendar, Google+ for communication, Drive for storage, Docs, Sheets, Slides, Forms, and Sites for collaboration.
                    </li>                    
        </div>

                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
</body>
</html>
