@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <META HTTP-EQUIV="refresh" CONTENT="5;URL=Index">
    <meta name="viewport" content="width=device-width" />
<body>
    <div>
            <img src="~/Images/LOGO.jpg" " width="200" height="200"/>
        <p>Thanks! We will contact you within 24-48 hours</p>
    </div>
</body>
</html>
