@{
    ViewBag.Title = "Home Page";
}


<body>
        <h2 style="font-size:28px; color:#444794;">PKIM - IT SERVICES COMPANY</h2>
        <p style="font-size:16px;">IT Services and Solutions to Help Your Business Succeed - since 1998</p>
        <p style="font-size:16px;">Contact us today for a free, no obligation consultation to see if a PKIM Custom Solutions Package is right for your business goals and budget.</p>

                <h2 style="font-size:18px;color:#444794;">
                    <img src="~/Images/Help3.jpg" width="35" height="40" />
                    Help Desk
                </h2>
                    <p style="font-size:16px;">&emsp;&emsp;Sustain employee productivity with a responsive dedicated team.</p>    
                    <p style="font-size:16px;">&emsp;&emsp;"More small and medium businesses are moving to managed services to cut costs and redirect focus to core business</p>
                    <p style="font-size:16px;">&emsp;&emsp;activities." - Gartner Research</p>  
                <h2 style="font-size:18px;color:#444794;">
                    <img src="~/Images/Proactive3.jpg"  width="40" height="40" />
                    Proactive Support
                </h2>     
                    <p style="font-size:16px;">&emsp;&emsp;Improve uptime, performance and security by monitoring and keeping systems current.</p>
                    <p style="font-size:16px;">&emsp;&emsp;"Computer virus and spyware attacks cost global businesses and estimated $6.5 billion in demages." - Reuters</p>
                <h2 style="font-size:18px;color:#444794;">
                    <img src="~/Images/CLOUD3.jpg"   width="40" height="40" />
                    Cloud Service
                </h2>                               
                    <p style="font-size:16px;">&emsp;&emsp;Access your application and data securely anywhere at any time</p>                    
                    <p style="font-size:16px;">&emsp;&emsp;&emsp;-  Google G Suits, Microsoft Office 365, Microsoft Azure</p>
                    <p style="font-size:16px;">&emsp;&emsp;"93% of organizations that experience a significant data loss are out business within 5 years." - Gartner Research</p>
                <h2 style="font-size:18px;color:#444794;">
                    <img src="~/Images/Backup3.jpg"   width="40" height="40" /> 
                    Backup and Business Continuity
                </h2> 
                    <p style="font-size:16px;">&emsp;&emsp;Feel confident that valuable company data is secure and business will continue in the event of a disaster.</p>                    
                    <p style="font-size:16px;">&emsp;&emsp;&emsp;-  Automated and on-demand backups to secured data vault</p>
                    <p style="font-size:16px;">&emsp;&emsp;&emsp;-  Continue to do business and service your clients in the event of disaster</p>                    
                <h2 style="font-size:18px;color:#444794;">
                    <img src="~/Images/IT%20Management3.jpg"    width="40" height="40" />
                    IT Management
                </h2> 
                    <p style="font-size:16px;">&emsp;&emsp;Align IT with your business objectives.</p>    
                    <p style="font-size:16px;">&emsp;&emsp;&emsp;-  Chief Information Officer services</p>
                    <p style="font-size:16px;">&emsp;&emsp;&emsp;-  IT roadmaps with quarterly strategic review</p>
                    <p style="font-size:16px;">&emsp;&emsp;&emsp;-  Vendor Management</p>
                <h2 style="font-size:18px;color:#444794;">
                    <img src="~/Images/Software%20Service3.jpg"   width="40" height="40" />
                    Software Service
                </h2> 
                    <p style="font-size:16px;">&emsp;&emsp;PKIM Offers best-in-class solutions to meet your needs</p>    
                    <p style="font-size:16px;">&emsp;&emsp;&emsp;-  Custom Database Programming, Website with Azure SQL Database Engine</p>
                    <p style="font-size:16px;">&emsp;&emsp;&emsp;-  IT Staffing for software developement</p>
                <br></br>
                <br></br>

</body>
