@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

    <style>
        div.ex1 {
            margin-top: 20px;
            margin-bottom: 100px;
            margin-right: 210px;
            margin-left: 210px
        }
    </style>
<body>
    <div class="ex1">
<h2>ABOUT US</h2>
<p style="font-size:18px;">PKIM, Inc. was founded on January, 1997 in order to provide a total systems solution to retail, wholesale distribution and manufacturing for the apparel industry. PKIM, Inc. has developed an enterprise database model for apparel industry businesses and it has been applied to industries with similar inventory structures. Utilizing the enterprise database and application solution, our customer can expand their business operations without limiting their IT solutions.Adaptive Garment Manufacturing System (AGMS™) enables you to access real time production control of your garment manufacturing processes.

POSiT™, Point of Sales for single or multiple chain stores, enables you to have a control over Sales and Inventory Movements for the apparel and other retail businesses. Utilizing OPOS standard, POSiT has been extended its application to restaurant and grocery market applications.

Wholesale Inventory Tracking System (WITS™) is a complete ERP solution with capability for customizing modules such as A/R.

All of our application in retail, wholesale and manufacturing application uses one enterprice database to share the same inventory and customer information. And the database is designed for multiple locations and all provides QuickBooks Interfaces for Invoice, Payment, Credit Memo, Customer and Items. A simple and unique data replication has been developed in additon to the tool provided by relational database replication procedures implemented for our customer with multiple locations.

PKIM, Inc. has been developing a DVR with POS screen integration in one physical unit (ePOSDVR™) with incorporation from both Windows and Linux DVR that gives retail customers a more secured POS environment to do better business without any additional devices or costs.

Our industry-leading products use the most current database solutions, data access and data movement products, as well as enterprise application development tools.

We are committed to serving your business needs through analyzing, designing, and implementing the most current technology to enhance your existing system's operation to the highest performance</p>
       </div>

                    <br></br>
                    <br></br>
</body>
</html>
